@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 10em;
  }
  
  /* ======== Header ========*/
  #header {
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    background-color: #f1c40f;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
  }
  
  .logo {
    display: flex;
    height: 100px;
    width: 250px;
  }

  
  #nav-bar {
    display: flex;
    align-items: center;
    padding-right: 30px;
  }
  
  #nav-bar ul {
    text-align: center;
    padding: 0;
  }
  
  #nav-bar ul li {
    display: block;
  }
  
  #nav-bar ul li a {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* ======== Main ========*/
  #inicio {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  #inicio h2 {
    text-align: center;
    padding: 10px;
    margin: 1.5em auto;
  }

  #inicio a {
    padding: 10px 40px;
    background-color: #f1c40f;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
    color:black;
    transition: ease-out 300ms;
  }

  #inicio a:hover {
    background-color: grey;
    color: white;
  }
  
  /* ======== Features ========*/
  #features {
    max-width: 100%;
    margin: 7em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #features .card {
    display: flex;
    align-items: center;
  }
  
  #features .card .icon {
    max-width: 100px;
    width: 100%;
    color: #f1c40f;
    display: none;
  }
  
  #features .card .content {
    flex-grow: 1;
    text-align: center;
    margin: 1.5em 0;
  }

  .content p {
    margin-top: .5em;
  }
  
  /* ======== Pricing ========*/
  #pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3em auto;
  }
  
  #pricing .card {
    margin: 0 50px;
    margin-bottom: 15px;
    padding-bottom: 1em;
    border: 1px solid #000;
    max-width: 340px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
  }
  
  #pricing .card h2 {
    background-color: black;
    color: white;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
  }
  
  #pricing .card strong {
    font-size: 24px;
  }
  
  #pricing .card button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 24px;
    transition: ease-out 300ms;
  }

  #pricing .card button:hover {
    background-color: grey;
    color: white;
  }
  
  /* ======== Footer ========*/
  footer {
    height: 5em;
    padding: 0 3em;
    margin-top: 30px;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer > ul {
    padding: 0;
  }
  
  footer > ul li {
    display: inline;
  }
  
  footer > ul li:not(last-child) {
    margin-right: 20px;
  }
  
  footer > ul li a {
    color: white;
    text-decoration: none;
    transition: ease-out 300ms;
  }

  footer > ul li a:hover {
    color: #f1c40f;
  }
  
  /* ======== Media query ========*/
  @media (max-width: 375px) {
    #header {
      height:max-content;
      padding-bottom: 2em;
      margin: 0 auto;
    }
    
    .logo {
      flex-direction: column;
      justify-content: center;
      height: 100px;
      width: 200px;
    }

    #nav-bar {
      padding-right: 0;
    }
    
    #nav-bar ul li {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      border-bottom: 1px solid #000;
    }

    .main {
      margin: 15em 25px 3em;
    }

    #inicio {
      display: flex;
      text-align: center;
    }

    #features {
      flex-direction: column;
    }

    #features .card {
      flex-direction: column;
      margin: 1.5em auto;
      justify-content: center;
    }

    #features .card .icon {
      display: flex;
      justify-content: center;
    }

    #pricing {
      margin: 0;
      padding: 0;
    }

    #pricing .card {
      margin: 0 0 15px;
      padding-bottom: 1em;

    }

    footer {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      height: 8em;
      margin-top: 0; 
    }

  }

  @media (max-width: 425px) {
    #header {
      height:max-content;
      padding-bottom: 2em;
      margin: 0 auto;
    }
    
    .logo {
      flex-direction: column;
      justify-content: center;
      height: 100px;
      width: 200px;
    }

    #nav-bar {
      padding-right: 0;
    }
    
    #nav-bar ul li {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      border-bottom: 1px solid #000;
    }

    .main {
      margin: 15em 25px 3em;
    }

    #inicio {
      display: flex;
      text-align: center;
    }

    #features {
      flex-direction: column;
    }

    #features .card {
      flex-direction: column;
      margin: 1.5em auto;
      justify-content: center;
    }

    #features .card .icon {
      display: flex;
      justify-content: center;
    }

    #pricing {
      margin: 0;
      padding: 0;
    }

    #pricing .card {
      margin: 0 auto 15px;
      padding-bottom: 1em;

    }

    footer {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      height: 8em;
      margin-top: 0; 
    }

  }

  @media (max-width: 1024px) {
    #pricing {
      margin: 0;
      padding: 0;
    }

    #pricing .card {
      margin: 0 auto 15px;
      padding-bottom: 1em;

    }

  }

  @media (min-width: 550px) {
    #features .card .icon {
      display: block;
    }
  
    #features .card .content {
      text-align: left;
    }
  }
  
  @media (min-width: 600px) {
    #header {
      flex-direction: row;
      left: 5%;
      right: 5%;
      position: sticky;
    }
  
    #nav-bar ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  
    #nav-bar ul li {
      display: inline;
      margin-right: 50px;
    }
  
    #nav-bar ul li:last-child {
      margin-right: 0;
    }
  }
  
  @media (min-width: 800px) {
    #pricing {
      flex-direction: row;
      align-self: center;
    }
  
    #pricing .card:not(last-child) {
      margin-right: 15px;
    }
  }